@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: theme('colors.watermelon.main');
  --alternative: theme('colors.watermelon.alternative');
  --emphasis: theme('colors.watermelon.emphasis');
  --dark-main: theme('colors.watermelon.dark-main');
}

[data-theme='blueberry'] {
  --main: theme('colors.blueberry.main');
  --alternative: theme('colors.blueberry.alternative');
  --emphasis: theme('colors.blueberry.emphasis');
  --dark-main: theme('colors.blueberry.dark-main');
}
